/* 
margin可以调整位置
height调整高度
padding厚度值
display框类型选择
gap间距
text-decoration比下划线好用
align-items中心，配justify-content使用
white-space拒绝换行
text-align文字位置更改
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line {
  padding: 5px 0;
  border-bottom: 1px solid #cecece;
}

.logo-img {
  height: 32px;
  margin: 10px 27%;
}

.nav-banner {
  display: flex;
  gap: 40px;
  margin: -47px 42%;
}

.nav-btn {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #666;
  text-decoration: none;
  border-radius: 3px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.banner-img {
  display: block;
  margin: 60px auto;
}

.banner1 {
  width: 2000px;
  height: 500px;
  background-color: #eae9e4;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: -560px auto;
}

.apple {
  margin: -250px 450px;
}

.android {
  margin: -226.5px 650px;
}

.download_banner {
  margin: -120px 350px;
}

.banner2 {
  width: 2000px;
  height: 330px;
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 490px auto;
}

.features {
  margin: -790px 0;
}
.features .container {
  display: flex;
  gap: 200px;
  justify-content: center;
}
.feature-item {
  width: 10%;
  height: auto;
}

.font1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  margin: 795px 520px;
}

.in-text {
  display: flex;
  justify-content: center;
  gap: 155px;
  padding: 40px 0;
  margin-top: -820px;
}

.cool-text {
  text-align: center;
  width: 230px;
}

.wtf-text {
  margin: 0;
  line-height: 1.4;
}

.end-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.fuck-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  color: #929191;
}
